<h1>Listing shapes</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Shape</th>
      <th>User</th>
      <th>Public</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @shapes.each do |shape| %>
      <tr>
        <td><%= shape.name %></td>
        <td><%= shape.shape %></td>
        <td><%= shape.user_id %></td>
        <td><%= shape.public %></td>
        <td><%= link_to 'Show', shape %></td>
        <td><%= link_to 'Edit', edit_shape_path(shape) %></td>
        <td><%= link_to 'Destroy', shape, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Shape', new_shape_path %>
