<head>

<style>
    input
    {
        border:1px solid #ccc;
        padding:4px 4px;
        line-height:20px;
        min-height:20px;
        font-size:13px;
        
        width:200px;
        
        border-radius:3px;
        -moz-border-radius:3px;
        -webkit-border-radius:3px;
        
        transition:border linear .25s,
        box-shadow linear .25s;
        -webkit-transition:border linear .25s,
        box-shadow linear .25s;
        -moz-transition:border linear .25s,
        box-shadow linear .25s;
        
        box-shadow:inset 0 1px 3px rgba(0,0,0,0.1);
        -webkit-box-shadow:inset 0 1px 3px rgba(0,0,0,0.1);
        -moz-box-shadow:inset 0 1px 3px rgba(0,0,0,0.1);
        
        background-color:#F9F9F9;
    }
    
    input:focus
    {
        border-color:#09c;
        border-color:rgba(0,135,200,0.75);
        
        box-shadow:inset 0 1px 3px rgba(0,0,0,0.1),
        0 0 8px rgba(81,169,236,0.66);
        -webkit-box-shadow:inset 0 1px 3px rgba(0,0,0,0.1),
        0 0 8px rgba(81,169,236,0.66);
        -moz-box-shadow:inset 0 1px 3px rgba(0,0,0,0.1),
        0 0 8px rgba(81,169,236,0.66);
        
        outline:none;
    }
    
.swoop
{
    z-index: 100000;
    background-color:#2fa1d6;
    color: white;
    font-family: helvetica, arial;
    border-radius: 20px;
    position: fixed;
    top: -600;
    left: 50%;
     margin-left: -300px;
    margin-top: -20px;
    
    <% if user_signed_in? %>
    height:100px;
    <% else %>
    height:600px;
    <% end %>
    width:600px;
}
    div
    {
        font-family: helvetica, arial;
    }
    
    #idSavedShapeLibrary
    {
        <% !if user_signed_in? %>
        <% else %>
        <% end %>
        height: 300px;
        overflow: auto;
        border-radius: 10px;
        background-color: white;
    }
    
    #public
    {
        height:400px;
    }
    #blackout
    {
        background-color: black;
        opacity: .7;
        width: 100%;
        height: 100%;
        top: 0;
        left:0;
        position:fixed;
        z-index:99999;
        display:none;
    }
    
    button
    {
            width:150px;
            height:35px;
            font-size:20px;
            background:#3e9ad2;
        color: white;
        border: #000;
        -webkit-box-shadow:0 0 4px #000;/*safari and Chrome*/
        -moz-box-shadow:0 0 4px #000; /*Mozilla*/
        -o-box-shadow:0 0 4px #000; /*Opera*/
        -ms-box-shadow:0 0 4px #000; /*Ms IE*/
        box-shadow:0 0 4px #000; /*W3C*/
        -webkit-border-radius:15px;/*safari and Chrome*/
        -moz-border-radius:15px; /*Mozilla*/
        -o-box-border-radius:15px; /*Opera*/
        -ms-box-border-radius:15px; /*Ms IE*/
        border-radius:15px; /*W3C*/
    }
    
</style>
<div id='register' class='swoop'></div>
<div id='publish' class='swoop'></div>
<script>
    
    
<% if user_signed_in? %>
    userID = "<%= current_user.id %>";
    var shapeLib =  "<%  shape_counts =  Shape.where(:user_id => current_user.id) %><% shape_counts.each do |shape| %><a href=\"javascript:window.shapeID='<%=shape.id%>';loadFromLib('<%= shape.shape %>')\"><img class='galleryImg' src='/shapes/<%=shape.id %>.png' height='100' width='100'></a><% end %>"
<% end %>
    
<% if @shape != nil %>
var savedShape = "<%= @shape[:shape] %>";
var shapeID = "<%= @shape[:id] %>";

<% end %>

var authToken = "<%= form_authenticity_token %>";
<%
if (params[:meta] == "1") %>
    var screenShot = true;

<% end %>
    <% if params[:action] == 'index' %>
        var newuser = true;
    <% end %>
var freeze = false;
    
function hideTheBeast()
{
    $("#register").animate({top:'-600px'}, 300);
    $("#blackout").fadeOut(500);
    freeze = false;
}

    
function hideAndNext()
{
    setTimeout("$('#idSaveButton').click()", 500);
    hideTheBeast()
}
    
function submitReg()
{
    $.post("/users", {user: {email: document.getElementById('user_email').value, password: document.getElementById('user_password').value, password_confirmation:document.getElementById('user_password_confirmation').value}, authenticity_token: authToken, utf8: '✓'}, function(data){alert(data);});
}


function createNewUser()
{
    var black = document.createElement("div");

    
    <% if !user_signed_in? %>
    black.setAttribute("id", "blackout");
    document.body.appendChild(black);
        register.innerHTML = "<br><br><h1>Not so fast!</h1><br><br>We need to know a little bit more about you to before we save.<br><br><br>Email address<br><input type='text' id='user_email' value='<%= Base64.decode64(params['a']) %>'></input><br><br>Password<br><input id='user_password' type='password'></input><br><br>Confirm Password:<br><input id='user_password_confirmation' type='password'></input><br><br><br><button onclick='submitReg()'>Continue!</button><br><br><button onclick='hideTheBeast();newuser=true;'>No thanks</button>";
        freeze = true;
        newuser =  false;
    $("#register").animate({top:'0'}, 300);
    $("#blackout").fadeIn(500);


    //    $("#register").clearQueue().fadeIn(500);
    
    <% else %>
        newuser = false;
        register.innerHTML = "<br><h1>Saving creation...</h1></input>";
    $("#register").animate({top:'0'}, 300);
    setTimeout("$('#idSaveButton').click()", 1);


    $.post("/new", {user_id: userID, authenticity_token: authToken, shape: hashend}, function(data){shapeID = data; newuser =  false; saveShape()});
    
    <% end %>
    

}
 
<% if (params[:meta] == "1") %>
var screenShot = true;
<% end %>
    
function saveShape()
{
    if (typeof shapeID !== 'undefined')
    {
        register.innerHTML = "<br><h1>Saving creation...</h1></input>";
        $("#register").animate({top:'0'}, 300);
        $.post("/save", {id: shapeID, authenticity_token: "<%= form_authenticity_token %>", shape: hashend});
        loadScreenshotStage();
    }
}

</script>
</head>

<%= yield %>